<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>SIH1625</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>

    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>RegisterFaceServlet</servlet-name>
        <servlet-class>com.servlet.RegisterFaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>com.servlet.AttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
        <servlet-class>com.servlet.SendMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchMessagesServlet</servlet-name>
        <servlet-class>com.servlet.FetchMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultsServlet</servlet-name>
        <servlet-class>com.servlet.ResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadResultsServlet</servlet-name>
        <servlet-class>com.servlet.DownloadResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyResultsServlet</servlet-name>
        <servlet-class>com.servlet.FacultyResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyDownloadResultsServlet</servlet-name>
        <servlet-class>com.servlet.FacultyDownloadResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.auth.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseServlet</servlet-name>
        <servlet-class>com.servlet.CreateCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleLiveClassServlet</servlet-name>
        <servlet-class>com.servlet.ScheduleLiveClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMCQTestServlet</servlet-name>
        <servlet-class>com.servlet.CreateMCQTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEnrollmentServlet</servlet-name>
        <servlet-class>com.servlet.ManageEnrollmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchStudentsServlet</servlet-name>
        <servlet-class>com.servlet.FetchStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchStudentNameServlet</servlet-name>
        <servlet-class>com.servlet.FetchStudentNameServlet</servlet-class>
    </servlet>
    <servlet>
	    <servlet-name>UploadMaterialServlet</servlet-name>
	    <servlet-class>com.servlet.UploadMaterialServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>DownloadMaterialServlet</servlet-name>
	    <servlet-class>com.servlet.DownloadMaterialServlet</servlet-class>
	</servlet>
    <!-- Servlet Mappings -->
    
    <servlet-mapping>
        <servlet-name>RegisterFaceServlet</servlet-name>
        <url-pattern>/RegisterFaceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/SendMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchMessagesServlet</servlet-name>
        <url-pattern>/FetchMessagesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultsServlet</servlet-name>
        <url-pattern>/ResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadResultsServlet</servlet-name>
        <url-pattern>/DownloadResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyResultsServlet</servlet-name>
        <url-pattern>/FacultyResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyDownloadResultsServlet</servlet-name>
        <url-pattern>/FacultyDownloadResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseServlet</servlet-name>
        <url-pattern>/CreateCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleLiveClassServlet</servlet-name>
        <url-pattern>/ScheduleLiveClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMCQTestServlet</servlet-name>
        <url-pattern>/CreateMCQTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEnrollmentServlet</servlet-name>
        <url-pattern>/ManageEnrollmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchStudentsServlet</servlet-name>
        <url-pattern>/FetchStudentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchStudentNameServlet</servlet-name>
        <url-pattern>/FetchStudentNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
	    <servlet-name>UploadMaterialServlet</servlet-name>
	    <url-pattern>/UploadMaterialServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>DownloadMaterialServlet</servlet-name>
	    <url-pattern>/DownloadMaterialServlet</url-pattern>
	</servlet-mapping>
</web-app>